<h1><strong>Came Booking Station</strong> へようこそ！</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<div class="row">
  <%= link_to 'ケアマネージャー様ゲストログイン（閲覧用）', care_manager_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
</div>