@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#notice {
  color: green;
}

#alert {
  color: red;
}


// a {
//   color: #333;
// }

// a:hover {
//   text-decoration: none;
// }

.logo, .logo:hover {
  font-family: 'Sacramento', cursive;
  text-decoration: none;
  color: #333;
  font-size: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}
table th {
  width: 22%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 15px;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
}
table td {
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 15px;
  vertical-align: top;
  text-align: left;
}
@media all and (max-width: 767px) {
  table th, table td {
    display: block;
    width: 100%;
    border-bottom: none;
  }
  table tr:last-child td:last-child {
    border-bottom: 1px solid #ccc;
  }
}