<h2 class="row p-0 text-nowrap">担当利用者情報編集</h2>

<p>* は入力必須項目です</p>
<%= form_with model: @user, url: care_manager_user_path(@user) do |f| %>
  <%= render 'form', { user: @user, submit_text: '編集内容を保存', f: f } %>
<% end %>